{% extends "layout.html" %}
{% block content %}
<div class="main-content">
	<div class="container-fluid" style="padding-bottom:54px">
		<div class="pos-box bgw mtb15">
			<div class="position f14 c9 pull-left"><a class="plr10 c4" href="/">Beranda</a>/<span
					class="plr10 c4">Pengaturan</span></div>
		</div>
		<div class="clearfix bgw mtb15 pd15">
			<div class="safe-port pull-left">
				<div class="ss-text pull-left mr50">
					<em>Tutup panel</em>
					<div class="ssh-item">
						<input class="btswitch btswitch-ios" id="closePl" type="checkbox">
						<label class="btswitch-btn" for="closePl" onclick="closePanel()"></label>
					</div>
				</div>
				<div class="ss-text pull-left mr50">
					<em>Mode pengembangan (Debug)</em>
					<div class="ssh-item">
						<input class="btswitch btswitch-ios" id="debugMode" type="checkbox" {{data['debug']}}>
						<label class="btswitch-btn" for="debugMode" onclick="debugMode()"></label>
					</div>
				</div>

				<div class="ss-text pull-left mr50">
					<em title="Aktifkan buat akses panel pakai IPv6">Gunakan IPv6</em>
					<div class='ssh-item'>
						<input class='btswitch btswitch-ios' id='panelIPv6' type='checkbox' {{data['ipv6']}}>
						<label class='btswitch-btn' for='panelIPv6' onclick="setIPv6()"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="setbox bgw mtb15">
			<div class="title c6 plr15">
				<h3 class="f16">Pengaturan</h3>
			</div>
			<div class="info-title-tips" style="margin: 20px 30px 0px;">
				<p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span>Biar makin
					aman, mending ganti password panelnya!</p>
			</div>
			<div class="setting-con pd15">
				<form id="set_config">
					<p class="mtb15">
						<span class="set-tit text-right">Nama Panel</span>
						<input id="webname" name="webname" class="inputtxt bt-input-text" type="text"
							value="{{data['title']}}">
						<button type="button" class="btn btn-success btn-sm ml5 btn_webname" disabled>Simpan</button>
						<span class="set-info c7">Nama tampilan panel</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right" title="IP Server">IP Server</span>
						<input name="host_ip" class="inputtxt bt-input-text" type="text" value="{{data['ip']}}">
						<button type="button" class="btn btn-success btn-sm ml5 btn_host_ip" disabled>Simpan</button>
						<span class="set-info c7">Biasanya ini IP publik. Kalau pakai VM lokal, isi IP lokal VM-nya
							ya!</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right">Port panel</span>
						<input data-port="{{data['port']}}" id="banport" name="port" class="inputtxt bt-input-text"
							type="numner" value="{{data['port']}}" maxlength="5">
						<button type="button" class="btn btn-success btn-sm ml5 btn_port" disabled>Simpan</button>
						<span class="set-info c7">Saran port: 7200 - 65535</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right">Pintu keamanan</span>
						<input id="admin_path" name="admin_path" class="inputtxt bt-input-text disable" type="text"
							value="{{data['admin_path']}}">
						<button type="button" class="btn btn-success btn-sm ml5"
							onclick="modifyAuthPath()">Simpan</button>
						<span class="set-info c7">Alamat masuk panel. Kalau diisi, kamu cuma bisa login lewat alamat ini
							(misal: /rahasiaku)</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right" title="Direktori website">Direktori website</span>
						<input name="sites_path" class="inputtxt bt-input-text" type="text"
							value="{{data['site_path']}}">
						<button type="button" class="btn btn-success btn-sm ml5 btn_sites_path" disabled>Simpan</button>
						<span class="set-info c7">Situs baru bakal otomatis ditaruh di dalam folder ini.</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right" title="Direktori cadangan (backup)">Direktori backup</span>
						<input name="backup_path" class="inputtxt bt-input-text" type="text"
							value="{{data['backup_path']}}">
						<button type="button" class="btn btn-success btn-sm ml5 btn_backup_path"
							disabled>Simpan</button>
						<span class="set-info c7">Folder buat nyimpen backup website sama database.</span>
					</p>

					<p class="mtb15">
						<span class="set-tit text-right" title="Waktu server">Waktu server</span>
						<input id="systemdate" name="systemdate" class="inputtxt bt-input-text disable" type="text"
							value="{{data['systemdate']}}">
						<button type="button" class="btn btn-success btn-sm ml5" onclick="syncDate()">Simpan</button>
						<span class="set-info c7">Sinkronkan waktu server sekarang</span>
					</p>
					<p class="mtb15">
						<span class="set-tit text-right" title="User panel">User panel</span>
						<input name="username_" class="inputtxt bt-input-text disable" type="text"
							value="{{data['username']}}" disabled>
						<button type="button" class="btn btn-success btn-sm ml5" onclick="setUserName()">Atur</button>
						<span class="set-info c7">Ganti nama akun panel</span>
					</p>
					<p class="mtb15">
						<span class="set-tit text-right" title="Password panel">Password panel</span>
						<input name="password_" class="inputtxt bt-input-text disable" type="text" value="******"
							disabled>
						<button type="button" class="btn btn-success btn-sm ml5" onclick="setPassword()">Atur</button>
						<span class="set-info c7">Ganti password login panel</span>
					</p>
				</form>
			</div>

			<div class="title c6 plr15">
				<h3 class="f16">Keamanan</h3>
			</div>

			<div class="setting-con pd15">

				<p class="mtb15">
					<span class="set-tit text-right" title="Ikat nama domain" style="float: left;">Ikat domain</span>
					<input name="bind_domain" class="inputtxt bt-input-text" type="text"
						value="{{data['bind_domain']}}">
					<button type="button" class="btn btn-success btn-sm ml5 btn_bind_domain" disabled>Simpan</button>
					<span class="set-info c7">Ikat domain buat akses panel. <b style="color: red;">Hati-hati: kalau
							sudah diikat, panel cuma bisa dibuka lewat domain itu!</b></span>
				</p>

				<p class="mtb15">
					<span class="set-tit text-right" title="Panel SSL" style="float: left;">Panel SSL (HTTPS)</span>
					<input id="cfg_ssl" name="bind_ssl" class="btswitch btswitch-ios" type="checkbox" {{data['ssl']}}>
					<label class="btswitch-btn ml5" for="cfg_ssl" style="float: left;margin-top:4px;"></label>
					<button ype="button" class="btn btn-default btn-xs panel_api_btn"
						style="vertical-align: middle; margin-left: 10px" onclick="getPanelSSL();">Konfigurasi SSL
						Panel</button>
					<span class="set-info c7">Pakai protokol HTTPS biar akses panel lebih <b
							style="color: red;">aman</b>.</span>
				</p>

				<p class="mtb15">
					<span class="set-tit text-right" title="Autentikasi BasicAuth" style="float: left;">Autentikasi
						BasicAuth</span>
					<input class="btswitch btswitch-ios" id="cfg_basic_auth" type="checkbox" {{data['basic_auth']}} />
					<label class="btswitch-btn ml5" for="cfg_basic_auth" style="float: left;margin-top:4px;"
						onclick="setBasicAuth()"></label>
					<span class="set-info c7">Tambah lapis keamanan BasicAuth biar panel nggak gampang di-scan
						robot.</span>
				</p>

				<p class="mtb15">
					<span class="set-tit text-right" title="Antarmuka API" style="float: left;">Antarmuka API</span>
					<input class="btswitch btswitch-ios" id="cfg_panel_api" type="checkbox" {{data['api_token']}} />
					<label class="btswitch-btn ml5" for="cfg_panel_api" style="float: left;margin-top:4px;"
						onclick="setPanelApi()"></label>
					<button ype="button" class="btn btn-default btn-xs panel_api_btn"
						style="vertical-align: middle; margin-left: 10px" onclick="showPanelApi();">Konfigurasi
						API</button>
					<span class="set-info c7">Aktifkan akses panel lewat API.</span>
				</p>

				<p class="mtb15">
					<span class="set-tit text-right" title="Status Respon Belum Login">Status Respon Belum Login</span>
					<input name="status_code" class="inputtxt bt-input-text disable" type="text"
						value="{{data['status_code_msg']}}" disabled>
					<button type="button" class="btn btn-success btn-sm ml5" data-code="{{data['status_code']}}"
						onclick="setStatusCode(this)">Atur</button>
					<span class="set-info c7">Respon yang muncul kalau belum login atau salah masuk pintu keamanan. Bisa
						buat sembunyiin panel.</span>
				</p>

				<p class="mtb15">
					<span class="set-tit text-right" title="Izin Akses Sementara">Izin Akses Sementara</span>
					<button type="button" class="btn btn-success btn-sm ml5" onclick="setTempAccess()">Kelola Izin Akses
						Sementara</button>
					<span class="set-info c7">Kasih akses panel sementara buat orang lain.</span>
				</p>
			</div>
			<div class="title c6 plr15">
				<h3 class="f16">Notifikasi</h3>
			</div>

			<div class="setting-con pd15">

				<p class="mtb15">
					<span class="set-tit text-right" title="TelegramBot" style="float: left;">Notifikasi TBot</span>
					<input id="cfg_tgbot" name="cfg_tgbot" onclick="setNotifyApi('tgbot',this)"
						class="btswitch btswitch-ios" type="checkbox" {{data['notify_tgbot_enable']}}>
					<label class="btswitch-btn ml5" for="cfg_tgbot" style="float: left;margin-top:4px;"></label>
					<button ype="button" class="btn btn-default btn-xs panel_api_btn"
						style="vertical-align: middle; margin-left: 10px" onclick="getTgbot();">Konfigurasi Bot
						Telegram</button>
					<span class="set-info c7">Notifikasi lewat bot Telegram</span>
				</p>

			</div>
		</div>
	</div>
</div>
<script src="/static/app/config.js?v={{config.version}}"></script>
{% endblock %}