{% extends "layout.html" %}

{% block content %}

<div class="main-content">
	<div class="container-fluid" style="padding-bottom:54px">
		<div class="pos-box bgw mtb15">
			<div class="position f14 c9 pull-left">
				<a class="plr10 c4" href="/">Beranda</a>/<span class="plr10 c4">Penjadwalan</span>
			</div>
		</div>
		<div class="setbox bgw mtb15">
			<div class="title c6 plr15">
				<h3 class="f16">Tambah tugas penjadwalan</h3>
			</div>
			<div class="setting-con ptb20">
				<div class="clearfix plan">
					<span class="typename c4 pull-left f14 text-right mr20">Jenis tugas</span>
					<div class="dropdown planjs pull-left mr20">
						<button class="btn btn-default dropdown-toggle" type="button" id="excode" data-toggle="dropdown" style="width:auto">
                            <b val="toShell">Skrip Shell</b>
                            <span class="caret"></span>
                        </button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="excode">
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="toShell">Skrip Shell</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="site">Cadangkan situs</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="database">Cadangkan database</a></li>
							{% for db in data['hook_database'] %}
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="database_{{db['name']}}">Cadangkan database [{{db['title']}}]</a></li>
					        {% endfor %}

					        <li><a role="menuitem" tabindex="-1" href="javascript:;" value="path">Cadangkan direktori</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="logs">Potong log</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="rememory">Bebaskan RAM</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="toUrl">Kunjungi URL</a></li>
						</ul>
					</div>
					<span class="planSign"><i>*</i>Pilih jenis tugasnya: skrip shell, backup website, backup database, backup folder, potong log, bersihin RAM, atau buka URL.</span>
				</div>
				<div class="clearfix plan">
					<span class="typename c4 pull-left f14 text-right mr20">Nama tugas</span>
					<div class="planname pull-left"><input type="text" name="name" class="bt-input-text"></div>
				</div>
				<div class="clearfix plan">
					<span class="typename c4 pull-left f14 text-right mr20">Siklus</span>
					<div class="dropdown plancycle pull-left mr20">
						<button class="btn btn-default dropdown-toggle" type="button" id="cycle" data-toggle="dropdown" style="width:94px">
                            <b val="week">Setiap minggu</b>
                            <span class="caret"></span>
                        </button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="cycle">
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="day">Setiap hari</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="day-n">Setiap N hari</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="hour">Setiap jam</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="hour-n">Setiap N jam</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="minute-n">Setiap N menit</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="week">Setiap minggu</a></li>
							<li><a role="menuitem" tabindex="-1" href="javascript:;" value="month">Setiap bulan</a></li>
						</ul>
					</div>
					<div id="ptime" class="pull-left">
						<div class="dropdown planweek pull-left mr20">
							<button class="btn btn-default dropdown-toggle" type="button" id="excode" data-toggle="dropdown">
								<b val="1">Senin</b>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="excode">
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="1">Senin</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="2">Selasa</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="3">Rabu</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="4">Kamis</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="5">Jumat</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="6">Sabtu</a></li>
								<li><a role="menuitem" tabindex="-1" href="javascript:;" value="0">Minggu</a></li>
							</ul>
						</div>
						<div class="plan_hms pull-left mr20 bt-input-text">
							<span><input type="number" name="hour" value="1" maxlength="2" max="23" min="0"></span>
							<span class="name">Jam</span>
						</div>
						<div class="plan_hms pull-left mr20 bt-input-text">
							<span><input type="number" name="minute" value="30" maxlength="2" max="59" min="0"></span>
							<span class="name">Menit</span>
						</div>
					</div>
				</div>
				<div class="clearfix plan">
					<span class="typename controls c4 pull-left f14 text-right mr20">Isi skrip</span>
					<div id="implement" style="line-height:34px"><textarea class="txtsjs bt-input-text" name="sBody"></textarea></div>
				</div>
				<div class="clearfix plan">
					<div class="bt-submit plan-submit" onclick="planAdd();">Tambah tugas</div>
				</div>
				<ul class="help-info-text c7 ptb15 mlr20">
					<li>Habis nambah tugas backup, mending coba jalanin sekali buat mastiin filenya lengkap.</li>
					<li>Kalau disk penuh, password database salah, atau internet nggak stabil, backup-nya bisa gagal.</li>
				</ul>
			</div>
			<form id="set-Config" action="/crontab/add" enctype="multipart/form-data" method="post" style="display: none;">
				<input type="text" name="name" value="" />
				<input type="text" name="type" value="" />
				<input type="number" name="where1" value="" />
				<input type="number" name="hour" value="" />
				<input type="number" name="minute" value="" />
				<input type="text" name="week" value="" />
				<input type="text" name="sType" value="" />
				<textarea name='sBody'></textarea>
				<input id="sFile" type="file" name="sFile" value="" />
				<input type="text" name="sName" value="" />
				<input id="backupTo" type="text" name="backupTo" value="localhost" />
				<input id="urladdress" type="text" name="urladdress" value="" />
				<input type="number" name="save" value="" />
				<input type="submit" />
			</form>
		</div>
		<div class="setbox bgw mtb15">
			<div class="title c6 plr15">
				<h3 class="f16">Daftar Tugas</h3>
				<span id="allDelete" style="float: right;display: none;">
					<button onclick="allDeleteCron();" class="btn btn-default btn-sm">Hapus yang dipilih</button>
				</span>
			</div>
			<div class="setting-con divtable pd15">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width='30px'><input onclick="checkSelect();" type="checkbox" id="setBox"></th>
							<th>Nama</th>
							<th>Status</th>
							<th>Siklus</th>
							<th>Waktu jalan</th>
							<th>Jumlah simpan</th>
							<th>Backup ke</th>
							<th>Waktu ditambah</th>
							<th width="190">Aksi</th>
						</tr>
					</thead>
					<tbody id="cronbody"></tbody>
				</table>
				<div class="dataTables_paginate paging_bootstrap pagination">
					<ul id="softPage" class="page"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/static/app/crontab.js?v={{config.version}}"></script>
<script type="text/javascript">
toWeek();
toHour();
toMinute();
toShell();
getCronData(1);
</script>
{% endblock %}
