{% extends "layout.html" %} {% block content %}
<div class="main-content">

    <div class="container-fluid" style="padding-bottom: 66px;">

        <div class="danger-tips">
            <div class="alert alert-warning" id="messageError" style="display: none;background-color: #ffe0e0;border-color: #ffb0b0;color: #ff2020; margin-bottom:0;margin-top: 12px;"></div>
        </div>

        <div class="conter-box system-info bgw clearfix mtb15">
            <div class="title c6 f16 plr15">
              Overviw
              <span class="pull-right f12 c6" style="line-height:52px; margin-right:15px">
                  <span id="version" style="margin-right:10px">{{config.version}}</span>
                  <span id="toUpdate"><a class="btlink" href="javascript:checkUpdate();">Renew</a></span> |
                  <!-- <span style="margin:0 10px"><a class="btlink" href="javascript:rePanel();">Repair</a></span> -->
                  <span><a class="btlink" href="javascript:reBoot();">Reboot</a></span>
              </span>
            </div>
            <div class="system-info-con mtb20">

              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-hdd"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Sistem Operasi</span>
                  <span class="info-box-number" id="info">Tunggu sebentar....</span>
                </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-time"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Uptime Server</span>
                    <span class="info-box-number" id="running">Tunggu sebentar....</span>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="glyphicon glyphicon-globe"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Data Situs</span>
                    <span class="info-box-number"><a class="btlink" href="/site">{{data['site_count']}}</a> Situs Web Terdaftar</span>
                  </div>
                </div>
              </div>

            </div>
        </div>

        <div class="server bgw mtb15">
            <div class="title c6 f16 plr15">
                <h3 class="c6 f16 pull-left">Status</h3>
            </div>
            <div class="server-circle">
                <ul class="row" id="systemInfoList">
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 mtb20 circle-box text-center" id="LoadList">
                        <h3 class="c5 f15">Load status<a href="https://github.com/basoro/slemp/wiki" target="_blank" class="bt-ico-ask" style="cursor: pointer;">?</a></h3>
                        <div class="circle" style="cursor: pointer;">
                            <div class="pie_left">
                                <div class="left"></div>
                            </div>
                            <div class="pie_right">
                                <div class="right"></div>
                            </div>
                            <div class="mask"><span id="Load">0</span>%</div>
                        </div>
                        <h4 id="LoadState" class="c5 f15">Wait...</h4>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 mtb20 circle-box text-center" id="cpuChart">
                        <h3 class="c5 f15">CPU usage</h3>
                        <div class="circle">
                            <div class="pie_left">
                                <div class="left"></div>
                            </div>
                            <div class="pie_right">
                                <div class="right"></div>
                            </div>
                            <div class="mask"><span id="state">0</span>%</div>
                        </div>
                        <h4 id="core" class="c5 f15">Wait...</h4>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 mtb20 circle-box text-center">
                        <h3 class="c5 f15">Memory usage</h3>
                        <div class="circle mem-release">
                            <div class="pie_left">
                                <div class="left"></div>
                            </div>
                            <div class="pie_right">
                                <div class="right"></div>
                            </div>
                            <div class="mask"><span id="left">0</span>%</div>
                            <div class="mem-re-min" style="display: none;"></div>
                            <div class="mem-re-con" title=""></div>
                        </div>
                        <h4 id="memory" class="c5 f15">Wait...</h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 pull-left pd0">
            <div class="pr8">
                <div class="bgw">
                    <div class="title c6 f16 plr15">Software</div>
                    <div class="setting-con" style="padding:0; height:442px; margin-right: -4px; overflow: hidden;">
                        <div class="container-fluid soft-man">
                            <input name="list1SortOrder" type="hidden" value="" />
                            <div id="indexsoft" class="row"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 pull-left pd0">
            <div class="pl7">
                <div class="bgw" style="height:491px">
                    <div class="title c6 f16 plr15">Stat</div>
                    <div class="bw-info">
                        <div class="col-sm-6 col-md-3"><p class="c9"><span class="ico-up"></span>Upload</p><a id="upSpeed">0</a></div>
                        <div class="col-sm-6 col-md-3"><p class="c9"><span class="ico-down"></span>Download</p><a id="downSpeed">0</a></div>
                        <div class="col-sm-6 col-md-3"><p class="c9">Total upload</p><a id="upAll">0</a></div>
                        <div class="col-sm-6 col-md-3"><p class="c9">Total download</p><a id="downAll">0</a></div>
                    </div>
                    <div id="netImg" style="width:100%;height:330px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/app/site.js?v={{config.version}}"></script>
<script type="text/javascript" src="/static/app/soft.js?v={{config.version}}"></script>
<script type="text/javascript" src="/static/app/index.js?v={{config.version}}"></script>
<script type="text/javascript">

netImg();
setImg();
pluginInit();
loadKeyDataCount();

setTimeout(function() {
    getDiskInfo();
}, 500)

setTimeout(function() {
    indexSoft();
}, 1000);

setTimeout(function() {
    getInfo();
}, 1500);

</script>
{% endblock %}
