
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Verifikasi entri keamanan gagal</title>
</head>
<body>
    <h1>Silakan gunakan entri yang benar untuk masuk ke panel</h1>
    <p><b>Alasan:</b>Mesin yang baru diinstal saat ini telah membuka login entri keamanan, mesin yang baru diinstal akan memiliki nama entri keamanan 8 karakter acak, yang juga dapat dimodifikasi di pengaturan panel , jika Anda tidak merekam atau Tidak ingat, Anda dapat menggunakan metode berikut untuk menyelesaikannya</p>
    <p><b>Solusi:</b> Masukkan salah satu perintah berikut di terminal SSH untuk menyelesaikannya</p>
    <p>1. Lihat detail login: /etc/init.d/slemp default</p>
    <p>2. Hapus admin path：rm -f /home/slemp/server/panel/data/admin_path.pl</p>
    <p style="color:red;">Catatan: [Hapus Admin Path] akan langsung membuka alamat login panel Anda ke Internet, yang sangat berbahaya, harap operasikan dengan hati-hati</p>
</body>
</html>
