
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Security entry verification failed</title>
</head>
<body>
    <h1>Please use the correct entry to log in to the panel</h1>
    <p><b>Error reason: </b> The security entrance login has been enabled for the newly installed machine, and the newly installed machine will randomly have an 8-character security entrance name, which can also be modified in the panel settings. If you do not record or do not remember, you can use Solved in the following way</p>
    <p><b>Solution:</b> Enter the following command in the SSH terminal to solve</p>
    <p>1. Check the panel entry: sleepp default</p>
    <p>2. Close the security entrance: sleepp close_admin_path</p>
    <p style="color:red;">Note: [Close the security entrance] will directly expose your panel login address to the Internet, which is very dangerous, please operate with caution</p>
</body>
</html>
